<% if @thought.errors.any? %>

  <% @thought.errors.full_messages.each do |msg| %>

    <%= msg %>

  <% end %>

<% end %>

<div class="row" style='margin-top: 4rem;'>

  <div class="col-md-6 col-md-offset-3">

    <%= form_for @thought do |f| %>

      <%= f.text_area :content, class: 'form-control form-group' %>
      <%= f.submit 'Post', :class => 'btn btn-primary form-control' %>

    <% end %>

  </div>

</div>
